body {
  background-color: #f3f5f9;
  display: flex;
  flex-direction: row; }

/* dashboard's sidebar */
.dashboard {
  background-color: #333f4f;
  color: #ccd5de;
  width: 250px; }
  .dashboard h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    margin: 0; }
  .dashboard div.logo {
    text-align: center;
    padding: 20px 0; }
  .dashboard hr {
    margin: 0; }
  .dashboard ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .dashboard ul a {
      color: inherit;
      text-decoration: none; }
      .dashboard ul a li {
        padding: 10px 20px;
        transition: all .15s ease-in-out; }
        .dashboard ul a li.active {
          background: #222a35;
          color: #fff; }
        .dashboard ul a li:hover:not(.active) {
          color: #fff;
          background: rgba(255, 255, 255, 0.1); }
        .dashboard ul a li i {
          margin-right: 15px;
          display: inline-block;
          width: 20px; }

/* content */
.content {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #333;
  text-align: center;
  flex: 1; }
  .content .content-section h3 {
    text-align: center;
    color: #29abe2;
    font-size: 2.3vw; }
    .content .content-section h3::before {
      content: '';
      display: inline-block;
      background: #29abe2;
      width: 20%;
      height: 2px;
      margin: 0 10px 10px 0; }
    .content .content-section h3::after {
      content: '';
      display: inline-block;
      background: #29abe2;
      width: 20%;
      height: 2px;
      margin: 0 0 10px 10px; }
